@import "../../../styles.scss";

.block--dark {
    height: 100vh;
    color: white;
}

.block__carousel {
    height: 480px;
}

.block__details, .block__info {
    border-radius: 4px;
    background-color: $color-light-gray;
}

.block__user{
    padding-left: 8px;
    // padding-bottom: 6px;
}

.block__data{
    padding-left: 8px;
}

.icon-size{
    font-size: 14px;
}

.icon-size.bi-person{
    font-size: 14px;
}

.text--light{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    color: $color-text-light;
}

.bi-telephone + span{
    padding-left: 3px;

}

.show--number{
    color: rgb(99, 99, 224);
    text-decoration: underline;
    cursor: pointer;
}

h6.block__title {
    position: relative;
    display: inline-block;
}

h6.block__title::after {
    content: "";
    position: absolute;
    background-color: $color-purple;
    width: 100%;
    height: 4px;
    bottom: -5px;
    left: 0;
    clip-path: polygon(100% 0, 100% 0, 90% 100%, 0 100%, 0 100%, 0% 0%)
}

.block__data{
    span{
        padding-left: 4px;
    }
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.flex-item {
    /* This will make the items take up 1/2 of the container, wrapping as necessary */
    flex: 1 0 50%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .flex-item {
        flex: 1 0 100%;
    }
}