<div class="block--dark">
    <div class="container">
        <header>
            <div class="row pt-3">
                <div class="col-9">
                    <section class="block__carousel">
                        <widget-advert-carousel></widget-advert-carousel>
                    </section>
                    <section class="block__details mt-3">
                        <h5 class="m-2 mb-3 mb-0 block__title">
                            Details
                        </h5>
                        <div class="pb-2">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text--smaller">Platform</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">PlayStation</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Includes box</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Yes</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Open to sale</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Yes</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Playable on</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">PS4, PS5</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <div class="block__info p-2">
                        <h5 class="m-2 mb-3 mb-0 mt-0 block__title">
                            Posted By
                        </h5>
                        <br>
                        <div class="block__user">
                            <i class="bi bi-person icon-size"></i> User9876
                            <br>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-telephone icon-size"></i><span class="mb-0">97XXXXXXXX</span>
                                </div>
                                <span class="show--number">Show number</span>
                            </div>
                        </div>
                    </div>
                    <div class="block__info p-2 mt-3">
                        <h6 class="block__data">
                            <i class="bi bi-map icon-size"></i> HSR layout • <i
                                class="bi bi-geo-alt-fill icon-size"></i> Bangalore
                        </h6>
                        <div class="block__data text-smaller">
                            <i class="bi bi-calendar-event"></i><span class="text--smaller">21/02/2024</span>
                        </div>
                        <!-- <i class="bi bi-person icon-size"></i> User9876 -->
                        <!-- <div class="">
                            <div class="row">
                                <div class="col-3">
                                    <p class="text--smaller">Price</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">€ 50</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Negotiable</p>
                                </div>
                                <div class="col-3">
                                    <p class="text--smaller">Yes</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </header>
    </div>

</div>