@import "../../../styles.scss";
@import "../../../colors.scss";

body {
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}

.text--center {
    text-align: left;
}

.text--black {
    color: $color-text-black;
}

.text--purple {
    color: $color-text-purple;
}

.text--white {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block--purple {
    background: $color-text-purple;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 2rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 85%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 2rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
}

.block--skewed-top-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0 100%);
}

.block__heading {
    margin-top: 0;
}

.block__tagline {
    color: $color-text-purple;
    letter-spacing: 0.4px;
    margin: 2rem 0 2rem;
    line-height: 28px;
}

.block__image {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.image--relative {
    position: relative;
    top: -175px;
}

.btn {
    width: 165px;
    height: 2.5rem;
    border-radius: 30px;
}

.btn--accent {
    background: $color-text-purple;
    color: white;
}

.btn--stretched {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.flex-container {
    display: flex;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    padding: 20px;
    margin: 5px;
}

.column:last-child .row:last-child {
    flex-grow: 1;
}