<section class="block block--dark block--skewed-left hero">
    <!-- <div class="container"> -->
    <!-- <header class="block__header hero__content">
            <h1 class="block__heading">Cloud Hosting for Pros</h1>
            <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
            <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
        </header> -->
    <div class="container">
        <header>
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="block__header text--h1 text--center">
                        The best way to exchange your games.
                    </div>
                    <p class="block__tagline text--h3">Find and exchange games with other gamers!</p>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <picture>
                        <!-- <source 
                            type="image/webp" 
                            srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
                            />
                            <source 
                            type="image/png" 
                            srcset="images/banner.png 1x, images/banner@2x.png 2x"
                            /> -->
                        <img class="block__image" src="assets/images/first-image.png" alt="">
                    </picture>
                </div>
            </div>
        </header>
    </div>
    <!-- <picture>
            <source 
            type="image/webp" 
            srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
            />
            <source 
            type="image/png" 
            srcset="images/banner.png 1x, images/banner@2x.png 2x"
            />
            <img class="hero__image" src="assets/images/first-image.png" alt="">
        </picture> -->
    <!-- </div> -->
</section>
<section class="block block--skewed-right hero">
    <div class="container">
        <header>
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <picture>
                        <img class="block__image" src="assets/images/dollar-sign.png" alt="">
                    </picture>
                </div>
                <div class="col-12 col-md-6">
                    <div class="block__header text--h1 text--center text--black">
                        Save money while gaming
                    </div>
                    <p class="block__tagline text--h3">Avoid overcharges by skipping sellers and dealing directly with
                        other
                        players</p>
                </div>
            </div>
        </header>
    </div>
</section>
<section class="block block--dark hero">
    <div class="container my-lg-5">
        <div class="div--center div--gray-rounded py-lg-5">
            <!-- <div class="row">
                <div class="col-6">
                    <div class="row px-5">
                        <div class="col-12">
                            <div class="text--h2 text--white">Step</div>
                            <p class="text--white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-12">
                            <div class="text--h2 text--white">Step</div>
                            <p class="text--white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-12">
                            <div class="text--h2 text--white">Step</div>
                            <p class="text--white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <div>
                            <picture>
                                <img class="block__image" src="assets/images/easy-exchange.png" alt="">
                            </picture>
                        </div>
                        <div>
                            <div class="text--h2 text--white">
                                How to trade your games in 3 easy steps
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="flex-container">
                <div class="flex-column">
                    <div class="flex-item">1</div>
                    <div class="flex-item">2</div>
                    <div class="flex-item">3</div>
                </div>
                <div class="flex-column">
                    <div class="flex-item">4</div>
                    <div class="flex-item">5</div>
                </div>
            </div>
        </div>
    </div>
</section>