<div class="block--dark pt-4">
    <div>
        <div class="container block--light-gray pt-2 pb-2">
            <header class="p-2">
                <h2 class="header__title">Details</h2>
                <form class="mt-1" [formGroup]="advertForm" (ngSubmit)="onSubmit()">
                    <div class="form__title form--input">
                        <label for="title">Title*</label><br>
                        <div class="d-flex align-items-center">
                            <input type="text" id="title" formControlName="title"
                                class="form-control bg-dark text-light border-dark"><ng-container *ngIf="showError && advertForm.controls['title'].invalid">
                                <i class="bi bi-exclamation-circle pl-2 text-danger"></i>
                            </ng-container>
                        </div>
                        <!-- <div *ngIf="showError && advertForm.controls['title'].invalid" class="error-message">
                        Title is required.
                      </div> -->
                    </div>
                    <div class="form__description form--input mt-1">
                        <label for="description">Description*</label><br>
                        <div class="d-flex align-items-center">
                            <textarea id="description" formControlName="description" rows="3"
                                class="form-control bg-dark text-light border-dark"></textarea><ng-container
                                *ngIf="showError && advertForm.controls['description'].invalid">
                                <i class="bi bi-exclamation-circle pl-2 text-danger"></i>
                            </ng-container>
                        </div>
                        <!-- <div *ngIf="showError && advertForm.controls['description'].invalid" class="error-message">
                        Description is required.
                      </div> -->
                    </div>
                    <div class="form__location form--input mt-1">
                        <label for="location">Location*</label><br>
                        <div class="d-flex align-items-center">
                            <input type="text" id="location" formControlName="location"
                                class="form-control bg-dark text-light border-dark"><ng-container *ngIf="showError && advertForm.controls['location'].invalid">
                                <i class="bi bi-exclamation-circle pl-2 text-danger"></i>
                            </ng-container>
                        </div>
                        <!-- <div *ngIf="showError && advertForm.controls['location'].invalid" class="error-message">
                        Location is required.
                      </div> -->
                    </div>
                    <div class="form__location form--input mt-1">
                        <label for="area">Area*</label><br>
                        <div class="d-flex align-items-center">
                            <input type="text" id="area" formControlName="area"
                                class="form-control bg-dark text-light border-dark"><ng-container *ngIf="showError && advertForm.controls['area'].invalid">
                                <i class="bi bi-exclamation-circle pl-2 text-danger"></i>
                            </ng-container>
                        </div>
                        <!-- <div *ngIf="showError && advertForm.controls['area'].invalid" class="error-message">
                        Area is required.
                      </div> -->
                    </div>
                    <!-- <div class="form__condition form--input mt-1"><label for="condition">Condition*</label><br> 
                        <div class="input--wrapper" #conditionSelect>
                            <input type="text" (focus)="onInputFocus()" (blur)="onInputBlur()" readonly class="form-control bg-dark text-light border-dark input--search cursor-pointer" [value]="selectedCondition">
                            <span class="condition-arrow"><i class="bi bi-chevron-down"></i></span>
                            <span class="input--conditions">
                                <div class="cursor-pointer">
                                    comment<div class="mb-2" (click)="selectCondition('Working')">Working</div>
                                    <div class="mb-2" (click)="selectCondition('Good')">Good</div>
                                    <div class="mb-2" (click)="selectCondition('Excellent')">Excellent</div>eEND
                                    <div *ngFor="let game of conditions">
                                        <p class="mb-2" (click)="selectCondition(game)">{{ game }}</p>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>-->
                    <div *ngFor="let element of ['condition', 'platform', 'box', 'model', 'sale']">
                        <div class="form__condition form--input mt-1">
                            <label for="{{ element }}">
                                {{ element === 'box' ? 'Includes box' : (element === 'sale' ? 'Open to sale' : (element
                                | titlecase)) }}*
                            </label><br>
                            <div class="input--wrapper" #selectElement [attr.id]="element">
                                <input type="text" (focus)="onInputFocus(element)" (blur)="onInputBlur(element)"
                                    readonly
                                    class="form-control bg-dark text-light border-dark input--search cursor-pointer"
                                    [value]="dropdownOptions[element] || 'Select'">
                                <span class="condition-arrow"><i class="bi bi-chevron-down"></i></span>
                                <span class="input--conditions">
                                    <div class="cursor-pointer">
                                        <div *ngFor="let options of this[element]">
                                            <p class="mb-2" (click)="selectCondition(element, options)">{{ options }}
                                            </p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3 align-items-center">
                        <button type="submit" class="btn btn-purple">Post</button>
                        <ng-container *ngIf="showError">
                            <i class="bi bi-exclamation-circle pl-2 text-danger"></i> <span class="pl-1 text-danger">Please fill all the
                                fields</span>
                        </ng-container>
                    </div>
                </form>
            </header>
        </div>
    </div>
</div>